body{
	font: 15px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color:   #4080f2;
}
.contenedor2{
	text-align: center;
	color:#e44d;
	font: Andalus,Arial;
}
/*Encabezado*/
header{
	background-color: #000066;
	color: #fff;
	/*padding-top: 30px; */
	padding-left: 1%;
	min-height: 90px;
	padding: 2%;
	border-bottom: 5px solid  #cc47d6;
}

header a{
color: #fff;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
}

header li{
float: left;
display: inline;
padding: 0 20px 0 20px;
}

header #marca{
	float: left;
}

header #marca h1{
	margin:0;
	color: white;
}

header nav{
	float: right;
	margin top:10px;
}

header .resaltado, header .actual a{
color:  #ffcc00;
font-weight: bold;

}
header a:hover{
	color: #ccc;
	font-weight: bold;
}
.integrantes{
    background-image: url("../img/0.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15%;
    color: white;

}
.int{
	text-align: center;
    margin: auto;
    background: #abbef296;
    padding: 3%;
}
.int p{
	font-size: 21px;
    color: #2041b1;
}
#cabecera{
    text-align: center;
    color: #e2d7fd;
    width: 80%;
    margin: auto;
    background-size: cover;
    height: 350px;
    margin-top: -520px;
    display: block;
    position: relative;

}

.slider1{
	width: 85%;
	margin: auto;
	height: 300px;
	overflow: hidden;
}

.slider1 ul{
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambios 20s infinite alternate;
	animation-timing-function: ease-in-out;
}

.slider1 li{
	width: 100%;
	list-style: none;
}

.slider1 img{
	width: 100%;
	height: 300px;
}

@keyframes cambios{
	0%{ margin-left: 0; }
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
}

/*    Stilos Slider */
.slider {
	width: 100%;
    height: 500px;
    margin: auto;
	overflow: hidden;
	

}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
 	animation: cambio 20s infinite alternate;
	
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
    height: 500px;
    object-fit: fill;
    object-position: center;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}


}
/* Fin estilos slider */

.lienzo{
	width: 82%;
	background-color: #E0F8F1;
	font-size: 18px;
	margin: 0 auto;
	color: #302f2f; 
	text-align: justify;
	border-radius:20px;
	padding: 25px; 
	box-shadow: 0px 0px 20px rgba(0,0,0.5,0.5 );
	font-family: serif;
    letter-spacing: 0.5px;
}

.lienzo h2{
	text-align: center;
}
.lienzo img{
	padding: 2%;
}

footer{
	padding: 3%;
    letter-spacing: 1px;
    font-size: 17px;
    color: white;
    background: #000066;
   /* margin-top: 2%; */
}

/* Glosario */

* {
 /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  */
  box-sizing: border-box; }

a {
  text-decoration: none; }

.wrap {
    background: #4080f2;
    border-radius: 10px;
    font-family: 'Helvetica';
  width: 90%;
    padding: 0 1em;
  margin: auto; }


.seccionToggle {
  display: none;
  height: calc(100vh - 60px);
  background: #000066;
  padding: 50px 0;
  text-align: left; }

  #gloss {
      font-size: 30px;
      flow-into: left;
      line-height:inherit
    text-align: center;
}
#tbs{
    border-radius: 10px;
}

  .seccionToggle p {
    font-size: 20px;
      margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 1em;
    }

@media screen and (max-width: 500px) {
  .seccionToggle h2 {
    margin-top: 0; } }
@media screen and (max-height: 550px) {
  .seccionToggle h2 {
    font-size: 40px;
    margin-top: 0; } }


ul.tabs{
    width: 100%;
    background: #000066;
    list-style: none;
    display: flex;
    text-align: center;
}

ul.tabs li{
    width: 18%;
    align-content: center;
    
}
ul.tabs li a{
    
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    display: block;
    margin: 3px;
    padding: 20px 0px;
}

ul.tabs li a:hover{
    color: green;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin: 4px;
    padding: 20px 0px;
}


.active{
    padding-left: 0 1em;
      font-size: 30px;
    background: #4080f2;
    border: 2px;
    border-radius: 10px;

}

.secciones {
    width: 100%;
}
.secciones article{
    padding: 30px;
    
}
.secciones article p{
    text-align: justify;
    color: #fff;
}



@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}


	.secciones article{
		padding: 20px;
	}
}
/* fin glosario */